<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notex | <%= title  %> </title>
    <link rel="stylesheet" href="/styles.css">      <!-- We dont need to write "/public/styles.css" coz it looks automatically in 
        the "public" folder as we specified that folder in the static middleware in server.js-->
</head>