<nav>
    <div class="site-title">
        <a href="/"><h1>Notex</h1></a>
        <p> A Free Online Notepad </p>
    </div>
    <ul>
        <li><a href="/"><button> Notes </button></a></li>
        <li><a href="/notes/create"><button>New Note</button></a></li>
        <li><a href="/about"><button>About</button></a></li>
    </ul>
</nav>