<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/header.ejs") %>

<body>
        
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Notex</h2>
        <p>Notex is created with the goal to provide users with an elegant and easy-to-use web notepad to take and save notes online.</p>
        <p>It gives you a quick and simple notepad editing experience when you write notes, memos, e-mails, messages, shopping lists and to do lists.</p>
        <p>If you have any ideas, suggestions, and thoughts on improving Notex, please reach out to us mohit88pathak@gmail.com</p>
      </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>